<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>{{ text }}</p>
  <videojuegos></videojuegos>
</div>
<h2>REST</h2>

<ul *ngFor = "let data of httpdata">
  <li>Name : {{data.share_name}}</li>
</ul>

<ul *ngFor = "let data2 of httpdata2">
  <li>Name : {{data2.share_name}}</li>
</ul>

<h3>Lista de frutas</h3>
<ul *ngFor = "let fruit of fruits">
  <li>{{fruit}}</li>
</ul>

{{ showData }}

<div *ngIf= "showData == 0" >Mostrar dato 0</div>
<div *ngIf= "showData == 1" >Mostrar dato 1</div>

<div *ngIf="showData; else notShowData">
  <p>
    Show this only if "show" is 1
  </p>
</div>

<ng-template #notShowData>
  <p [style.background] = "blue">
    Show this only if "show" is 0
  </p>
</ng-template>

<ng-button></ng-button>



